{{!< default}}

    <video class="myVideo" autoplay="" loop="" muted id="bgvid" source="" src="{{asset "/backdrop.mp4"}}"></video>

    <header>

      <button class="hamburger">&#9776;</button>
      <button class="cross">&#735;</button>
    </header>

    <!-- <div class="menu">
      <ul>
        <a href="#"><li>Home</li></a>
        <a href="#"><li>Art</li></a>
        <a href="#"><li>About</li></a>
        <a href="#"><li>Shop</li></a>
      </ul>
    </div> -->
