{{!< default}}

<h1>this art page</h1>

{{#foreach posts}}
  <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
add image this is like where all the imags will be
this will be for all different projects to diplay a one image and name of project.
{{/foreach}}
